$white: #fff;
$black: #000;
$gray: #4A4A4A;
$gray_light: #D9D9D9;
$red: #f00;
$green: #7ED321;

$breakpoint_small: 		480px;
$breakpoint_medium: 	768px;
$breakpoint_large: 		1180px;


// Mixins

@mixin range_small {
  @media only screen and (max-width: $breakpoint_small) {
    @content;
  }
}

@mixin range_tablet {
  @media only screen and (min-width: $breakpoint_small + 0.001px) and (max-width: $breakpoint_medium) {
    @content;
  }
}

@mixin range_desktop {
  @media only screen and (min-width: $breakpoint_medium + 0.001px) {
    @content;
  }
}

@mixin range($from, $to) {
  @media only screen and (min-width: $from +0.001) and (max-width: $to) {
    @content;
  }
}

@mixin above_mobile {
  @media only screen and (min-width: $breakpoint_small + 0.001px) {
    @content;
  }
}

@mixin above_tablet {
  @media only screen and (min-width: $breakpoint_medium + 0.001px) {
    @content;
  }
}

@mixin above_desktop {
  @media only screen and (min-width: $breakpoint_large + 0.001px) {
    @content;
  }
}

@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}