@import 'globals';

@import '../css/reset.min.css';

@import '../css/font-awesome.min.css';

// Global styles

html {
  font-family: 'Proxima Nova', sans-serif;
  min-width: 320px;

  body {
    color: $gray_light;
	background-color: $black;
    line-height: 1.5;
  }
}

.wrapper {
  box-sizing: border-box;
  padding: 0 20px;
  width: 100%;

  @include range_desktop {
	margin: 0 auto;
	max-width: 944px;
    width: 80%;

    &.full {
      max-width: 1180px;
      width: 100%;
    }
  }
}

a {
  text-decoration: none;
}

// TYPE
h1, h2, h3, h4 {
  line-height: 1.2;
  color: $white;
}

h1 {
  font-size: 24px;
}

h2 {
  padding: 20px 0;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

p {
  font-size: 14px;
  line-height: 1.5;
  color: $gray_light;
}

@include range_tablet {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  a, p, li, div {
    font-size: 16px;
  }
}

@include range_desktop {
  h1 {
	  font-size: 50px;
  }

  h2 {
	font-size: 40px;
  }

  a, p, li, div {
	font-size: 20px;
  }
}

.btn {
  border-radius: 15px;
  border: 1px solid rgba(0,0,0,0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;

  &:hover,
  &.active { border: 1px solid $white; }

  &:hover {
    background-color: rgba(255,255,255,.2);
  }

  a {
    display: inline-block;
    padding: 4px 15px 4px 15px;
    color: $white;
    text-transform: uppercase;
    font-size: 12px;
    vertical-align: middle;
  }

  &.green {
    background-color: $green;
    border-color: $green;

    &:hover {
      background-color: darken( $green, 10% );
      border-color: darken( $green, 10% );
    }
  }
}

//=========

section {
  padding: 30px 0;
}

header {
  position: relative;
  margin-bottom: 30px;

  .wrapper {
    position: relative;

    .logo {
      position: absolute;
      top: 20px;
      left: 20px;
      width: 160px;
      z-index: 1000;

      @include above_mobile {
        width: 239px;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    nav {
      position: absolute;
      top: 25px;
      right: 20px;
      z-index: 1000;
      @include clearfix();

      .btn {
        float: left;
        margin-left: 10px;

        &.green {
          display: none;

          @include above_mobile {
            display: inline-block;
          }
        }
      }
    }
  }

  .slider-header {
    width: 100%;
    height: 550px;

    .rsContent {
      background-size: cover;

      .wrapper {
        position: relative;

        h1 {
          position: absolute;
          bottom: 80px;
          left: 20px;
          text-shadow: 2px 2px 5px rgba(0,0,0,.5);

          @include range_tablet {
            bottom: 80px;
          }

          @include range_desktop {
            bottom: 110px;
          }
        }

        div.btn {
          position: absolute;
          bottom: 25px;
          left: 20px;
          border-radius: 20px;
          border: 1px solid $white;

          @include range_tablet {
            bottom: 30px;
          }

          @include range_desktop {
            bottom: 60px;
          }

          a {
            padding: 7px 15px 6px 15px;
            font-size: 14px;
            text-shadow: 2px 2px 5px rgba(0,0,0,.5);

            @include range_desktop {
              font-size: 18px;
            }
          }
        }
      }
    }

    .rsContent.slide01 {
      background-image: url('../img/bg_01.jpg');
    }

    .rsContent.slide02 {
      background-image: url('../img/bg_02.jpg');
    }
  }

  div.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background-image: url('../img/overlay.png');
    background-repeat: repeat-x;
    z-index: 10000;

    @include range_desktop {
      height: 50px;
    }
  }
}

section.desc {
  .wrapper {
    @include clearfix();
  }

  div.short {
    @include above_mobile {
      float: left;
      box-sizing: border-box;
      padding-right: 10px;
      width: 50%;
    }

    @include range_desktop {
      width: 40%;
    }
  }

  div.long {
    @include above_mobile {
      float: left;
      box-sizing: border-box;
      padding-left: 10px;
      width: 50%;
    }

    @include range_desktop {
      width: 60%;
    }
  }
}

section.how {
  @include clearfix();

  .block {
    float: left;
    box-sizing: border-box;
    padding: 0 10px;
    width: 100%;

    @include range_tablet {
      display: table;
      margin-bottom: 20px;
    }

    @include range_desktop {
      width: 33.333%;
    }

    .img {
      @include range_tablet {
        display: table-cell;
        width: 200px;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .text-group {
      display: table;
      margin: 10px 0 15px;
      @include clearfix();

      @include range_tablet {
        display: table-cell;
        vertical-align: middle;
      }

      .container {
        display: table;
        vertical-align: middle;

        .num {
          box-sizing: border-box;
          float: left;
          margin: 0 10px;
          padding-top: 7px;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: $red;
          text-align: center;
          vertical-align: middle;

          @include range_desktop {
            padding-top: 5px;
          }
        }

        .desc {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
  }
}

section.moments {
  .container {
    position: relative;
    width: 100%;
    height: 649px;

    .frame {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; //
      background-image: url('../img/moments.png');
      background-size: contain;
      background-repeat: no-repeat;
      z-index: -1;
    }

    .slider-moments {
      width: 830px;
      height: 550px;
      z-index: 50;

      .rsNav {
        z-index: 10050;
      }
    }
  }
}


section.testimonials {
  background-image: url('../img/bgslice_01.png');
  background-size: cover;
  background-repeat: no-repeat;

  @include clearfix();

  .rsContent {
    width: 100%;

    @include range_desktop {
      margin-left: 10%;
      width: 80%;
    }
  }

  h2 {
    margin-bottom: 30px;
    color: $gray;
  }

  .img {
    margin: 0 auto;
    width: 160px;

    @include above_mobile {
      float: left;
      margin: 0;
      margin-right: 20px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  div.quote,
  div.by {
    text-align: center;

    @include above_mobile {
      margin-left: 180px;
      text-align: left;
    }
  }

  div.by {
    margin-top: 10px;
    font-weight: 700;
  }
}

section.contact {
  text-align: center;

  @include clearfix();

  div.left {
    float: left;
    width: 100%;

    @include above_mobile {
      margin-right: 2%;
      width: 49%;
    }
  }

  div.right {
    float: left;
    width: 100%;

    @include above_mobile {
      width: 49%;
    }
  }

  div.input-group {
    position: relative;
  }

  input,
  textarea {
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    color: $white;
    background-color: $black;
    border: 1px solid $gray;
    border-radius: 5px;
    outline: none;

    @include above_mobile {
      height: 58px;
      font-size: 18px;
    }
  }

  input + i,
  textarea + i {
    position: absolute;
    top: 10px;
    right: 10px;

    @include above_mobile {
      font-size: 24px;
      top: 16px;
      right: 16px;
    }
  }

  div.input-group i {
    display: none;
  }

  div.input-group.valid input + i,
  div.input-group.valid textarea + i {
    display: block;
    color: $green;
  }

  div.input-group.invalid input,
  div.input-group.invalid textarea {
    border-color: $red;


    & + i {
      display: block;
      color: $red;
    }
  }

  textarea {
    height: 90px;
    vertical-align: top;
    resize: none;
    
    @include above_mobile {
      height: 126px;
    }
  }

  div.alert {
    display: none;
    clear: both;
    padding: 15px 0 0 0;
    height: 0;
    text-align: center;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;

    &.active {
      display: block;
      height: auto;
    }
  }

  div.btn {
    clear: both;
    margin-top: 30px;
    width: 100%;
    border-radius: 23px;
    text-align: center;

    @include above_mobile {
      display: inline-block;
      border-radius: 27px;
      width: auto;
    }

    a {
      display: block;
      padding: 8px 0 7px 0;
      font-size: 20px;
      text-align: center;

      @include above_mobile {
        display: inline-block;
        padding: 13px 80px 11px 80px;
        width: auto;
      }
    }
  }
}

footer {
  padding: 20px 0;
  background-image: url('../img/bgslice_01.png');
  background-size: cover;
  background-position: center center;

  .wrapper {
  }
  
  .social {
    margin: 30px auto;
    text-align: center;

    .brand {
      display: inline-block;
      margin: 0 30px;

      @include above_mobile {
        margin: 0 10px;
      }

      span {
        display: none;

        @include above_mobile {
          display: inline-block;
        }
      }

      a {
        color: $white;
        font-size: 24px;

        i {
          display: inline-block;
          margin-right: 0;
          font-size: 40px;

          @include above_mobile {
            margin-right: 10px;
            font-size: 24px;
          }

          &:last-child {
            margin-right: 0 !important;
          }
        }
      }
    }
  }

  .statements {
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    color: $gray;

    span:first-child {
      margin-right: 10px;
    }
    
    a {
      font-size: 12px;
      color: $gray;
    }
  }
}