@import url(reset.min.css);
@import url(../vendors/font-awesome.min.css);
html {
  font-family: 'Proxima Nova', sans-serif;
  min-width: 320px; }
  html body {
    color: #D9D9D9;
    font-weight: 200;
    line-height: 1.5;
    background-color: #000; }

.wrapper {
  box-sizing: border-box;
  padding: 0 20px;
  width: 100%; }
  @media only screen and (min-width: 768.001px) {
    .wrapper {
      margin: 0 auto;
      max-width: 944px;
      width: 80%; }
      .wrapper.full {
        max-width: 1180px;
        width: 100%; } }

a {
  text-decoration: none; }

h1, h2, h3, h4 {
  line-height: 1.2;
  font-weight: 400;
  color: #fff; }

h1 {
  font-size: 32px; }

h2 {
  padding: 20px 0;
  font-size: 24px;
  font-weight: 300;
  text-align: center; }

p {
  font-size: 14px;
  line-height: 1.5;
  color: #D9D9D9; }

@media only screen and (min-width: 480.001px) and (max-width: 768px) {
  h1 {
    font-size: 32px; }

  h2 {
    font-size: 24px; }

  a, p, li, div {
    font-size: 16px; } }
@media only screen and (min-width: 768.001px) {
  h1 {
    font-size: 50px; }

  h2 {
    font-size: 40px; }

  a, p, li, div {
    font-size: 20px; } }
em {
  font-style: normal;
  font-weight: 600; }

li.btn,
div.btn {
  border-radius: 15px;
  border: 1px solid transparent;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  li.btn:hover, li.btn.active,
  div.btn:hover,
  div.btn.active {
    border: 1px solid #fff; }
  li.btn:hover,
  div.btn:hover {
    background-color: #fff; }
    li.btn:hover a,
    div.btn:hover a {
      color: #000; }
  li.btn a,
  div.btn a {
    display: inline-block;
    padding: 4px 15px 4px 15px;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    vertical-align: middle; }
  li.btn.green,
  div.btn.green {
    background-color: #7ED321;
    border-color: #7ED321; }
    li.btn.green:hover,
    div.btn.green:hover {
      background-color: #64a71a;
      border-color: #64a71a; }
      li.btn.green:hover a,
      div.btn.green:hover a {
        color: #fff; }

section {
  padding: 30px 0; }

header {
  position: relative;
  margin-bottom: 30px; }
  header .wrapper {
    position: relative; }
    header .wrapper .logo {
      position: absolute;
      top: 20px;
      left: 20px;
      width: 160px;
      z-index: 1000; }
      @media only screen and (min-width: 480.001px) and (max-width: 768px) {
        header .wrapper .logo {
          width: 190px; } }
      @media only screen and (min-width: 768.001px) {
        header .wrapper .logo {
          width: 239px; } }
      header .wrapper .logo a:active {
        position: relative;
        top: 1px; }
      header .wrapper .logo img {
        width: 100%;
        height: auto; }
    header .wrapper nav {
      position: absolute;
      top: 25px;
      right: 20px;
      z-index: 1000; }
      header .wrapper nav:before, header .wrapper nav:after {
        content: " ";
        display: table;
        clear: both; }
      header .wrapper nav .btn {
        float: left;
        margin-left: 10px; }
        header .wrapper nav .btn.green {
          display: none; }
          @media only screen and (min-width: 480.001px) {
            header .wrapper nav .btn.green {
              display: inline-block; } }
  header .slider-header {
    width: 100%;
    height: 550px; }
    header .slider-header .rsContent {
      background-size: cover; }
      header .slider-header .rsContent .wrapper {
        position: relative; }
        header .slider-header .rsContent .wrapper h1 {
          position: absolute;
          bottom: 185px;
          left: 20px;
          text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
          z-index: 1; }
          @media only screen and (min-width: 768.001px) {
            header .slider-header .rsContent .wrapper h1 {
              bottom: 225px; } }
        header .slider-header .rsContent .wrapper div.btn {
          position: absolute;
          bottom: 130px;
          left: 20px;
          border-radius: 24px;
          border: 1px solid #fff;
          z-index: 2; }
          @media only screen and (min-width: 768.001px) {
            header .slider-header .rsContent .wrapper div.btn {
              bottom: 160px; } }
          header .slider-header .rsContent .wrapper div.btn a {
            padding: 9px 35px 9px 35px;
            font-size: 16px;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
            -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease; }
            @media only screen and (min-width: 768.001px) {
              header .slider-header .rsContent .wrapper div.btn a {
                font-size: 20px; } }
    header .slider-header .rsContent.slide01 {
      background-image: url("../img/bg_01.jpg"); }
    header .slider-header .rsContent.slide02 {
      background-image: url("../img/bg_02.jpg"); }
  header div.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-image: url("../img/overlay.png");
    background-repeat: repeat-x; }

section.desc .wrapper:before, section.desc .wrapper:after {
  content: " ";
  display: table;
  clear: both; }
@media only screen and (min-width: 480.001px) {
  section.desc div.short {
    float: left;
    box-sizing: border-box;
    padding-right: 10px;
    width: 50%; } }
@media only screen and (min-width: 768.001px) {
  section.desc div.short {
    width: 40%; } }
@media only screen and (min-width: 480.001px) {
  section.desc div.long {
    float: left;
    box-sizing: border-box;
    padding-left: 10px;
    width: 50%; } }
@media only screen and (min-width: 768.001px) {
  section.desc div.long {
    width: 60%; } }

section.how:before, section.how:after {
  content: " ";
  display: table;
  clear: both; }
section.how .block {
  float: left;
  box-sizing: border-box;
  width: 100%; }
  @media only screen and (min-width: 480.001px) and (max-width: 768px) {
    section.how .block {
      display: table;
      margin-bottom: 20px;
      padding: 0 10px; } }
  @media only screen and (min-width: 768.001px) {
    section.how .block {
      padding: 0 10px;
      width: 33.333%; } }
  @media only screen and (min-width: 480.001px) and (max-width: 768px) {
    section.how .block .img {
      display: table-cell;
      width: 200px; } }
  section.how .block .img img {
    width: 100%;
    height: auto; }
  section.how .block .text-group {
    display: table;
    margin: 10px 0 15px; }
    section.how .block .text-group:before, section.how .block .text-group:after {
      content: " ";
      display: table;
      clear: both; }
    @media only screen and (min-width: 480.001px) and (max-width: 768px) {
      section.how .block .text-group {
        display: table-cell;
        vertical-align: middle; } }
    section.how .block .text-group .container {
      display: table;
      vertical-align: middle; }
      section.how .block .text-group .container .num {
        box-sizing: border-box;
        float: left;
        margin: 0 10px;
        padding-top: 7px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #f00;
        text-align: center;
        vertical-align: middle; }
        @media only screen and (min-width: 768.001px) {
          section.how .block .text-group .container .num {
            padding-top: 5px; } }
      section.how .block .text-group .container .desc {
        display: table-cell;
        vertical-align: middle; }

section.moments .container {
  position: relative;
  width: 100%;
  height: 649px; }
  section.moments .container .frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/moments.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1; }
  section.moments .container .slider-moments {
    width: 830px;
    height: 550px;
    z-index: 50; }
    section.moments .container .slider-moments .rsNav {
      z-index: 10050; }
      section.moments .container .slider-moments .rsNav .rsNavSelected span {
        background-color: #D9D9D9; }
      section.moments .container .slider-moments .rsNav span {
        border: none;
        background-color: #4A4A4A; }

section.testimonials {
  background-image: url("../img/bgslice_01.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff; }
  section.testimonials:before, section.testimonials:after {
    content: " ";
    display: table;
    clear: both; }
  section.testimonials .rsContent {
    width: 100%; }
    @media only screen and (min-width: 768.001px) {
      section.testimonials .rsContent {
        margin-left: 10%;
        width: 80%; } }
  section.testimonials h2 {
    margin-bottom: 30px;
    color: #4A4A4A; }
  section.testimonials .img {
    margin: 0 auto;
    width: 160px; }
    @media only screen and (min-width: 480.001px) {
      section.testimonials .img {
        float: left;
        margin: 0;
        margin-right: 20px;
        width: 200px; } }
    @media only screen and (min-width: 768.001px) {
      section.testimonials .img {
        width: 240px; } }
    section.testimonials .img img {
      width: 100%;
      height: auto; }
  section.testimonials div.quote,
  section.testimonials div.by {
    text-align: center; }
    @media only screen and (min-width: 480.001px) {
      section.testimonials div.quote,
      section.testimonials div.by {
        margin-left: 220px;
        text-align: left; } }
    @media only screen and (min-width: 768.001px) {
      section.testimonials div.quote,
      section.testimonials div.by {
        margin-left: 260px; } }
  section.testimonials div.by {
    margin-top: 10px;
    font-weight: 700; }

section.contact {
  text-align: center; }
  section.contact:before, section.contact:after {
    content: " ";
    display: table;
    clear: both; }
  @media only screen and (min-width: 768.001px) {
    section.contact form {
      margin-left: 10%;
      width: 80%; } }
  section.contact div.left {
    float: left;
    width: 100%; }
    @media only screen and (min-width: 480.001px) {
      section.contact div.left {
        margin-right: 2%;
        width: 49%; } }
  section.contact div.right {
    float: left;
    width: 100%; }
    @media only screen and (min-width: 480.001px) {
      section.contact div.right {
        width: 49%; } }
  section.contact div.input-group {
    position: relative; }
  section.contact input,
  section.contact textarea {
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px 15px;
    width: 100%;
    font-size: 14px;
    color: #fff;
    background-color: #000;
    border: 1px solid #4A4A4A;
    border-radius: 5px;
    outline: none; }
    @media only screen and (min-width: 480.001px) {
      section.contact input,
      section.contact textarea {
        padding: 10px 20px;
        height: 58px;
        font-size: 18px; } }
  section.contact ::-webkit-input-placeholder {
    font-style: italic; }
  section.contact ::-moz-placeholder {
    font-style: italic; }
  section.contact :-ms-input-placeholder {
    font-style: italic; }
  section.contact input:-moz-placeholder {
    font-style: italic; }
  section.contact input + i,
  section.contact textarea + i {
    position: absolute;
    top: 10px;
    right: 10px; }
    @media only screen and (min-width: 480.001px) {
      section.contact input + i,
      section.contact textarea + i {
        font-size: 24px;
        top: 16px;
        right: 16px; } }
  section.contact div.input-group i {
    display: none; }
  section.contact div.input-group.valid input + i,
  section.contact div.input-group.valid textarea + i {
    display: block;
    color: #7ED321; }
  section.contact div.input-group.invalid input,
  section.contact div.input-group.invalid textarea {
    border-color: #f00; }
    section.contact div.input-group.invalid input + i,
    section.contact div.input-group.invalid textarea + i {
      display: block;
      color: #f00; }
  section.contact div.input-group.invalid ::-webkit-input-placeholder {
    color: #f00;
    font-style: normal; }
  section.contact div.input-group.invalid ::-moz-placeholder {
    color: #f00;
    font-style: normal; }
  section.contact div.input-group.invalid :-ms-input-placeholder {
    color: #f00;
    font-style: normal; }
  section.contact div.input-group.invalid input:-moz-placeholder {
    color: #f00;
    font-style: normal; }
  section.contact textarea {
    height: 90px;
    vertical-align: top;
    resize: none; }
    @media only screen and (min-width: 480.001px) {
      section.contact textarea {
        height: 126px; } }
  section.contact div.alert {
    display: none;
    clear: both;
    padding: 15px 0 0 0;
    height: 0;
    text-align: center;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;  z-index: 2;}
    section.contact div.alert.active {
      display: block;
      height: auto; }
  section.contact button[type="submit"] {
    display: block;
    clear: both;
    margin-top: 30px;
    padding: 13px 0 12px 0 !important;
    width: 100%;
    border-radius: 23px;
    border: none;
    background-color: #7ED321;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor: pointer; }
    section.contact button[type="submit"]:hover {
      background-color: #64a71a; }
    @media only screen and (min-width: 480.001px) {
      section.contact button[type="submit"] {
        display: inline-block;
        border-radius: 27px;
        padding: 18px 80px 16px 80px !important;
        width: auto; } }

footer {
  padding: 20px 0;
  background-image: url("../img/bgslice_01.png");
  background-size: cover;
  background-position: center center; }
  footer .social {
    margin: 30px auto;
    text-align: center; }
    footer .social .brand {
      display: inline-block;
      margin: 0 30px; }
      @media only screen and (min-width: 480.001px) {
        footer .social .brand {
          margin: 0 10px; } }
      footer .social .brand span {
        display: none; }
        @media only screen and (min-width: 480.001px) {
          footer .social .brand span {
            display: inline-block; } }
      footer .social .brand a {
        color: #fff;
        font-size: 24px; }
        footer .social .brand a i {
          display: inline-block;
          margin-right: 0;
          font-size: 40px; }
          @media only screen and (min-width: 480.001px) {
            footer .social .brand a i {
              margin-right: 10px;
              font-size: 24px; } }
          footer .social .brand a i:last-child {
            margin-right: 0 !important; }
  footer .statements {
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    color: #4A4A4A; }
    footer .statements span:first-child {
      margin-right: 10px; }
    footer .statements a {
      font-size: 12px;
      color: #4A4A4A; }

section.contact form label.error {
    margin-bottom:1em;
    font-size:1.2rem;
    line-height:1.2rem;
    font-size:12px;
    line-height:12px;
    color:#c0392b
}

/*section.contact form input[type="text"].error, form textarea.error {*/
    /*background:#e6e6e6;*/
    /*border-color:#c0392b*/
/*}*/



/*section.contact form input[type="text"], form textarea {*/
    /*margin-bottom:1.25em;*/
    /*font-family:"Inconsolata", sans-serif;*/
    /*font-size:1.4rem;*/
    /*line-height:1.4rem;*/
    /*font-size:14px;*/
    /*line-height:14px;*/
    /*box-shadow:none;*/
    /*-moz-box-shadow:none;*/
    /*-webkit-box-shadow:none;*/
    /*background:#e6e6e6;*/
    /*border:1px solid #191919;*/
    /*-moz-border-radius:0.2em;*/
    /*-webkit-border-radius:0.2em;*/
    /*border-radius:0.2em*/
/*}*/
/*section.contact form input[type="text"]:focus, form textarea:focus {*/
    /*border-color:#191919;*/
    /*box-shadow:none;*/
    /*-moz-box-shadow:none;*/
    /*-webkit-box-shadow:none*/
/*}*/
/*section.contact form input[type="text"][disabled], form textarea[disabled] {*/
    /*background:#fff*/
/*}*/
/*section.contact form input[type="text"].error, form textarea.error {*/
    /*background:#e6e6e6;*/
    /*border-color:#c0392b*/
/*}*/
.circle-valid {
    display: block;
}

.circle-invalid {
    display: none;
}